<!DOCTYPE html>
<meta charset="utf-8">
<html>

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Pie Chart- FinTech</title>

  <script src="js/angular.js"></script>
  <script src="js/d3.js"></script>
  <script src="js/nv.d3.js"></script>
  <script src="../dist/angularjs-nvd3-directives.js"></script>
  <link rel="stylesheet" href="stylesheets/nv.d3.css" />

<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">

<link rel="stylesheet" type="text/css" href="fintech.css">

        <link rel="stylesheet" href="css/layouts/gallery-grid.css">


  <!--
  <script>
  var app = angular.module("nvd3TestApp", ['nvd3ChartDirectives']);

  function ExampleCtrl($scope) {
    $scope.exampleData = [{
      key: "One",
      y: 5
    }, {
      key: "Two",
      y: 2
    }, {
      key: "Three",
      y: 9
    }, {
      key: "Four",
      y: 7
    }, {
      key: "Five",
      y: 4
    }, {
      key: "Six",
      y: 3
    }, {
      key: "Seven",
      y: 9
    }];

    $scope.width = 500;
    $scope.height = 500;

    $scope.xFunction = function() {
      return function(d) {
        return d.key;
      };
    }
    $scope.yFunction = function() {
      return function(d) {
        return d.y;
      };
    }

    $scope.descriptionFunction = function() {
      return function(d) {
        return d.key;
      }
    }
  }
  </script>
-->
</head>

<body>


<div>
    <div class="header">
        <div class="pure-menu pure-menu-horizontal" >
            <a class="pure-menu-heading" href="">A...B...C...</a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item pure-menu-selected"><a href="../index1.html" class="pure-menu-link">Tables</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Pie Chart</a></li>
                <li class="pure-menu-item"><a href="mutiBarChart.with.automatic.resize.html" class="pure-menu-link">Bar Graph</a></li>
            </ul>
        </div>
    </div>

</div>

  <div ng-app='nvd3TestApp' ng-controller="ExampleCtrl">
    <nvd3-pie-chart
      id="exampleId"
      data="exampleData"
      x="xFunction()"
      y="yFunction()"
      width="{{ width }}"
      height="{{ height }}"
      showLabels="true"
      pieLabelsOutside="false"
      showValues="true"
      labelType="percent">
      <svg></svg>
    </nvd3-pie-chart>

    <div>
      <label for="">Width</label>
      <input type="text" ng-model="width" />
    </div>

    <div>
      <label for="">Height</label>
      <input type="text" ng-model="height" />
    </div>
  </div>
  
  
  
<script>
var app = angular.module('nvd3TestApp', ['nvd3ChartDirectives']);


app.controller('ExampleCtrl', function($scope, $http) {
    $http.get("https://raw.githubusercontent.com/vva4innovation/FinTechHackathon/master/PieChartData.JSON")
    .success(function (response) {
   	
    	 $scope.exampleData=response
    	 console.log("$scope.exampleData")
        console.log($scope.exampleData)
    	
                console.log("hello");
    	
    	$scope.width = 500;
    $scope.height = 500;

    $scope.xFunction = function() {
      return function(d) {
        return d.key;
      };
    }
    $scope.yFunction = function() {
      return function(d) {
        return d.y;
      };
    }

    $scope.descriptionFunction = function() {
      return function(d) {
        return d.key;
      }
    }

    	
    	});
});
</script>


</body>

</html>
